<div id="blogthings_result">
  <table width=350 align=center border=0 cellspacing=0 cellpadding=2>
    <tr>
      <td bgcolor="#EEEEEE" align=center>
        <font face="Georgia, Times New Roman, Times, serif" style='color:black; font-size: 14pt;'>
          <strong>Your Personality Is Artisan</strong>
        </font>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFFF">
        <center><img src="https://images.blogthings.com/threequestionpersonalitytest/sp.jpg" height="100" width="100"></center>
        <font color="#000000">You are both grounded and flexible. You adapt well to new situations.<br />
          You are playful and free spirited - but you are also dependable and never flaky.<br />
          <br />
          You don't do well in conservative, stuffy situations.<br />
          It's probably very hard for you to keep a normal job or stay in school.<br />
          <br />
          You are always up for fun and adventure. Most people are too boring for you.<br />
          You take risks and bend the rules. And if things don't work out, you chock it up to life experience.<br />
          <br />
          In love, you tend to take things quickly - but you have a huge problem with commitment.<br />
          <br />
          At work, you need to make your own rules. You're best suited to be an entrepreneur.<br />
          <br />
          With others, you are animated and physical. You prefer doing something with friends to just hanging out.<br />
          <br />
          As far as your looks go, you tend to be buff and in good shape. Your spend more time on your body than your clothes.<br />
          <br />
          On weekends, you need to keep active. From cooking up a storm to running a 5K, you wear yourself out.
        </font>
      </td>
    </tr>
  </table>
</div>