<html>

<head>
  <title>Personality Test</title>
  <meta name='description' content='Personality Test Homework Assignment'>
  <meta name='keywords' content='Personality Test, man'>
  <link rel='stylesheet' href='/styles.css'>
</head>

<body>
  <header>
    <h1>Personality Test homework</h1>
    <nav>
    <a href='/'>I need a new Personality</a>
    |
    <a href='http://www.google.com' target='_blank'>Google</a>
    |
    <a href='mailto:chris.yammine@hotmail.com'>chris.yammine@hotmail.com</a>
    </nav>
    <hr>
  </header>

  <%= yield %>

  <footer>

  </footer>

</body>

</html>