<div id="blogthings_result">
  <table width=350 align=center border=0 cellspacing=0 cellpadding=2>
    <tr>
      <td bgcolor="#EEEEEE" align=center>
        <font face="Georgia, Times New Roman, Times, serif" style='color:black; font-size: 14pt;'>
          <strong>Your Personality Is Guardian</strong>
        </font>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFFF">
        <center><img src="https://images.blogthings.com/threequestionpersonalitytest/sj.jpg" height="100" width="100"></center>
        <font color="#000000">You are sensible, down to earth, and goal oriented.<br />
          Bottom line, you are good at playing by the rules.<br />
          <br />
          You tend to be dominant - and you are a natural leader.<br />
          You are interested in rules and order. Morals are important to you.<br />
          <br />
          A hard worker, you give your all at whatever you do.<br />
          You're very serious, and people often tell you to lighten up.<br />
          <br />
          In love, you tend to take things carefully and slowly.<br />
          <br />
          At work, you are suited to almost any career - but you excel in leadership positions.<br />
          <br />
          With others, you tend to be polite and formal.<br />
          <br />
          As far as looks go, you are traditionally attractive. You take good care of yourself.<br />
          <br />
          On weekends, you tend to like to do organized activities. In fact, you often organize them!
        </font>
      </td>
    </tr>
  </table>
</div>