<div id="idealist-result">
  <table width=350 align=center border=0 cellspacing=0 cellpadding=2>
    <tr>
      <td bgcolor="#EEEEEE" align=center>
        <font face="Georgia, Times New Roman, Times, serif" style='color:black; font-size: 14pt;'>
          <strong>Your Personality Is Idealist</strong>
        </font>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFFF">
        <center><img src="https://images.blogthings.com/threequestionpersonalitytest/nf.jpg" height="100" width="100"></center>
        <font color="#000000">You are a passionate, caring, and unique person.<br />
          You are good at expressing yourself and sharing your ideals.<br />
          <br />
          You are the most compassionate of all types and connect with others easily.<br />
          Your heart tends to rule you. You can't make decisions without considering feelings.<br />
          <br />
          You seek out other empathetic people to befriend.<br />
          Truth and authenticity matters in your friendships.<br />
          <br />
          In love, you give everything you have to relationships. You fall in love easily.<br />
          <br />
          At work, you crave personal expression and meaning in your career.<br />
          <br />
          With others, you communicate well. You can spend all night talking with someone.<br />
          <br />
          As far as your looks go, you've likely taken the time to develop your own personal style.<br />
          <br />
          On weekends, you like to be with others. Charity work is also a favorite pastime of yours.
        </font>
      </td>
    </tr>
  </table>
</div>