<section id='main'>
<h1>Choose the answer that best suits you:</h1>

<form action='/' method='post'>
  <label for='work' class='question'>You work best:</label>
  <div>
    <input type='radio' name='work' value='1' id='without' class='quiz-option'>
    <p>Without deadlines</p>
  </div>

  <div>
    <input type='radio' name='work' value='2' id='with' class='quiz-option'>
    <p>With deadlines</p>
  </div>

  <label for='consider' class='question'>You consider yourself more:</label>
  <div>
    <input type='radio' name='consider' value='1' id='compassionate' class='quiz-option'>
    <p>Compassionate</p>
  </div>

  <div>
    <input type='radio' name='consider' value='2' id='rational' class='quiz-option'>
    <p>Rational</p>
  </div>

  <label for='interest' class='question'>You are more interested in:</label>
  <div>
    <input type='radio' name='interest' value='1' id='ideas' class='quiz-option'>
    <p>Ideas</p>
  </div>

  <div>
    <input type='radio' name='interest' value='2' id='facts' class='quiz-option'>
    <p>Facts</p>
  </div>

  <input type='submit' name='Submit'>

</form>

</section>