<div id="rational-result">
  <table width=350 align=center border=0 cellspacing=0 cellpadding=2>
    <tr>
      <td bgcolor="#EEEEEE" align=center>
        <font face="Georgia, Times New Roman, Times, serif" style='color:black; font-size: 14pt;'>
          <strong>Your Personality Is Rational</strong>
        </font>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFFF">
        <center><img src="https://images.blogthings.com/threequestionpersonalitytest/nt.jpg" height="100" width="100"></center>
        <font color="#000000">You are both logical and creative. You are full of ideas.<br />
          You are so rational that you analyze everything. This drives people a little crazy!<br />
          <br />
          Intelligence is important to you. You always like to be around smart people.<br />
          In fact, you're often a little short with people who don't impress you mentally.<br />
          <br />
          You seem distant to some - but it's usually because you're deep in thought.<br />
          Those who understand you best are fellow Rationals.<br />
          <br />
          In love, you tend to approach things with logic. You seek a compatible mate - who is also very intelligent.<br />
          <br />
          At work, you tend to gravitate toward idea building careers - like programming, medicine, or academia.<br />
          <br />
          With others, you are very honest and direct. People often can't take your criticism well.<br />
          <br />
          As far as your looks go, you're coasting on what you were born with. You think fashion is silly.<br />
          <br />
          On weekends, you spend most of your time thinking, experimenting with new ideas, or learning new things.
        </font>
      </td>
    </tr>
  </table>
</div>